node_modules
venv
Dunecardgame/settings.py
Dunecardgame/Dunecardgame/files_identifier.py
Dunecardgame/Dunecardgame/image_adding.py
Dunecardgame/Dunecardgame/image_grabber.py
Dunecardgame/Dunecardgame/import_data.py
Dunecardgame/Dunecardgame/attack_defense.py